#pragma code_page(65001)

#define LANG_CHINESE       0x04
#define SUBLANG_CHINESE_SIMPLIFIED 0x02
#define LANG_ENGLISH       0x09
#define SUBLANG_ENGLISH_US 0x01

#define IDS_CONTEXT_MENU_TEXT 101

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
STRINGTABLE
BEGIN
    IDS_CONTEXT_MENU_TEXT L"7ZPM \x00B7 \x667A\x80FD\x89E3\x538B"
END

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STRINGTABLE
BEGIN
    IDS_CONTEXT_MENU_TEXT L"7ZPM \x00B7 Smart Extract"
END
